<div class="col-md-4 col-md-offset-1">
  <p class="lead">
    Notes
  </p>
  <ul>
    <li>
      Best practices encourage you to create a new, read-only database user for Query Clips. Otherwise, a user could accidentally (or maliciously) change or destroy your data.
    </li>
    <li>
      Some databases, like MySQL, have default settings that prohibit users from connecting from remote hosts. You may need to update your configuration to allow remote connections.
    </li>
  </ul>
  <p>
    For tips and tricks on setting up your database (and SQL syntax help), refer to our
    <%= link_to "SQL Library", "https://github.com/dpaola2/QueryClips/wiki/SQL-Library", target: "_blank" %>.
  </p>
</div>
