<div class="row">
  <div class="col-md-8">
    <%= @readme.html_safe %>
  </div>
  <div class="col-md-2">
    <%- unless signup_disallowed? %>
      <h3>Sign Up</h3>
      <%= render "users/form" %>
    <%- end %>
    <hr />
    <h3>Log In</h3>
    <%= render "sessions/login" %>
  </div>
</div>
