<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>Users</h2>      
    </div>

    <table class="table">
      <tr>
        <th>User</th>
        <th>Age</th>
        <th>Admin?</th>
        <th>Usage</th>
      </tr>
      <%- @users.each do |user| %>
        <tr>
          <td><%= link_to user.email, user_path(user) %></td>
          <td><%= time_ago_in_words(user.created_at) %></td>
          <td><%= user.admin?.to_s.capitalize %></td>
          <td><%= user.query_count %> query clips</td>
        </tr>
      <%- end %>
    </table>
  </div>
</div>
