<div class="row">
  <div class="col-md-4">
    <h2><%= @user.email %></h2>
    <%- if @user.admin? %>
      <span class="label label-primary">Admin</span>
    <%- end %>
    <p class="lead">Saved Queries</p>
    <ul>
      <%- @user.saved_queries.each do |sv| %>
        <li>
          <%= link_to sv.name, query_path(sv) %>
        </li>
      <%- end %>
    </ul>
    <%- if current_user.admin? && @user != current_user %>
      <%= render "admin_form", user: @user %>
    <%- end %>
  </div>
</div>
