<div class="form-group">
  <select id="database_connection_id" name="database_connection_id">
    <%- @database_connections.each do |conn| %>
      <%- if @saved_query && @saved_query.database_connection && @saved_query.database_connection.id == conn.id %>
        <option value="<%= conn.id %>" selected><%= conn.name %></option>
      <%- else %>
        <option value="<%= conn.id %>"><%= conn.name %></option>
      <%- end %>
    <%- end %>
  </select>
</div>
