<h1>Debug Info</h1>

<table class="table">
  <tr>
    <th>Variable</th>
    <th>Value</th>
  </tr>
  <tr>
    <td>@database_connection</td>
    <td><%= @database_connection.inspect %></td>
  </tr>
  <tr>
    <td>@query</td>
    <td><%= @query.inspect %></td>
  </tr>
  <tr>
    <td>@results</td>
    <td><%= @results.inspect %></td>
  </tr>
  <tr>
    <td>@error</td>
    <td><%= @error.inspect %></td>
  </tr>
</table>
