<div class="panel panel-default">
  <div class="panel-body">
    <%- if @saved_query %>
      <%= form_for(@saved_query, as: :query, url: query_path(@saved_query), method: :patch) do |f| %>
        <%= render "form_body" %>
      <%- end %>
    <%- else %>
      <form action="/queries/run" method="get">
        <%= render "form_body" %>
      </form>
    <%- end %>
  </div>
</div>

