<div class="form-group">
  <%- if @query.nil? %>
    <textarea name="query" placeholder="Here goes your query" class="form-control"></textarea>
    <div id="query-box" />
  <%- else %>
    <textarea name="query" placeholder="Here goes your query" class="form-control"><%= @query %></textarea>
    <div id="query-box"><%= @query %></div>
  <%- end %>
</div>
<script>
  var queryEditor = ace.edit("query-box");
  queryEditor.getSession().setMode("ace/mode/sql");
  var textarea = $('textarea[name="query"]').hide();
  queryEditor.setOptions({
    minLines: 10,
    maxLines: Infinity,
    showPrintMargin: false
  });
  queryEditor.getSession().setValue(textarea.val());
  queryEditor.getSession().on('change', function(){
    textarea.val(queryEditor.getSession().getValue());
  });
</script>
