<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/mode-sql.js"></script>
<div class="form-group">
  <%- if @query.nil? %>
    <textarea name="query" placeholder="Here goes your query" class="form-control"></textarea>
    <div id="query-box" />
  <%- else %>
    <textarea name="query" placeholder="Here goes your query" class="form-control"><%= @query %></textarea>
    <div id="query-box"><%= @query %></div>
  <%- end %>
</div>
<script>
  var editor = ace.edit("query-box");
  editor.getSession().setMode("ace/mode/sql");
  var textarea = $('textarea[name="query"]').hide();
  editor.setOptions({
    minLines: 10,
    maxLines: Infinity,
    showPrintMargin: false
  });
  editor.getSession().setValue(textarea.val());
  editor.getSession().on('change', function(){
    textarea.val(editor.getSession().getValue());
  });
</script>
