<h2>All Query Clips</h2>
<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to "Create query clip", new_query_path, class: 'btn btn-primary pull-right' %>
  </div>
  <%= render "saved_queries" %>
</div>
