<div class="row">
  <hr />
  <ul class="list-inline">
    <li>
      <%= link_to "QueryClips", "http://www.queryclips.com", target: "_blank" %>
    </li>
    <li>
      <%= link_to "Twitter", "https://twitter.com/queryclips", target: "_blank" %>
    </li>
</div>
<div class="clearfix"></div>
