<div class="preflight-check">
  <%- if DatabaseConnection.count < 1 %>
    <p class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      You haven't configured any databases yet.
      <%= link_to "click here", new_database_connection_path %>
      to add your first database connection.
    </p>
  <%- end %>
</div>
