<div class="preflight-check">

  <%- if DatabaseConnection.count < 1 %>
    <p class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      You haven't configured any databases yet.
      <%= link_to "Click here", new_database_connection_path %>
      to add your first database connection.
    </p>
  <%- else %>
    <%- if SavedQuery.count < 1 %>
      <p class="alert alert-warning" role="alert">  
        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
        You haven't added any query clips yet.
        <%= link_to "Click here", new_query_path %>
        to add your first query clip.
      </p>
    <%- end %>    
  <%- end %>

  <%- if ENV['HOST'].nil? %>
    <p class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      You haven't configured a HOST environment variable. This will prevent certain features from functioning. Please see the
      <%= link_to "README", "https://github.com/dpaola2/QueryClips", target: "_blank" %>
      for more information.
    </p>
  <%- end %>
  
  <%- if @preflight_check_smtp %>
    <p class="alert alert-warning" role="alert">
      <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
      You haven't configured SMTP settings. This will prevent mail from being sent. Please see the
      <%= link_to "README", "https://github.com/dpaola2/QueryClips", target: "_blank" %>
      for more information.
    <p>
  <%- end %>
</div>
